
<div class="row">
	<div class="col-sm-12 ajustarTela jumbotron"
		style="margin-bottom: 0px;">
		<div class="col-sm-4" style="max-height: 500px">
			<div class="imagensCadastro" style="padding-top: 0px;">
				<a class="glyphicon glyphicon-remove pull-right"
					style="margin-bottom: -12px;"></a> <img id="imagemCadExibicao"
					src="img/sem_foto.jpg" alt="sem-foto"
					style="height: 100%; width: 100%;"> <a
					class="glyphicon glyphicon-chevron-left pull-left iconePassar"></a>
				<a class="glyphicon glyphicon-chevron-right pull-right iconePassar"></a></img>
			</div>
			<div class="pull-right" style="margin-top: 10px; margin-right: 5px;">
				<button type="submit" class="btn btn-default">Importar
					Imagens</button>
			</div>
		</div>
		<div class="col-sm-8 jumbotron"
			style="padding-bottom: 0px; margin-bottom: 0px; padding-top: 0px;">
			<form role="form">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="nomPopular">Nome Popular da Doença</label> <input
							type="text" class="form-control" id="nomPopular"
							ng-maxlength="50" ng-model="nomPopular" required="required">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="nomCientifico">Nome Científico da Doença</label> <input
							type="text" class="form-control" id="nomCientifico"
							ng-maxlength="50" ng-model="nomCientifico" required="required">
					</div>
				</div>
				<div class="col-sm-12" style="margin-top: 10px;">
					<div class="form-group">
						<label for="descricao">Descrição</label>
						<textarea class="form-control" id="descricao" ng-maxlength="255"
							ng-model="descricao" row="4"></textarea>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									Cadastro de Informações Adicionais <a data-toggle="collapse"
										href="cadastrar.html#!/doenca" data-parent="#acordeonDoenca"
										class="collapsed glyphicon glyphicon-menu-down pull-right"
										data-target="#acordeonDoenca"></a>
								</h4>
								<!-- 								<h4 class="panel-title"> -->
								<!-- 									Cadastro de Informações Adicionais<a -->
								<!-- 										class="glyphicon glyphicon-menu-down pull-right" -->
								<!-- 										data-toggle="collapse" href=""></a> -->
								<!-- 								</h4> -->
							</div>
							<!-- 							-----------------ajustar melhor as opções--------------- -->
							<div id="acordeonDoenca" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="referencias">Referências</label>
												<textarea class="form-control" id="referencias"
													ng-maxlength="256" ng-model="referencias" row="4"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn-default">Cadastrar</button>
					</div>
			</form>
		</div>
	</div>
</div>