<div class="row" style="background-color: gray">
	<div class="col-sm-12 ajustarTela">
		<!-- FOOTER -->
		<footer>
			<!--                 <p class="pull-left"><a href="#">Back to top</a></p> -->
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-4">
						<img src="img/ifes-icone.png" alt="Ifes - Santa Teresa"
							style="height: 50px;">
						<div class="pull-right">
							<p>
								&copy; 2016 IFES, Inst. &middot; <a href="#"></a> &middot; <a
									href="#">Terms</a>
							</p>
						</div>
					</div>
					<div class="col-sm-4"></div>
					<div class="col-sm-3">
						<div class="pull-right">
							<!-- Conteúdo do rodapé -->

							<ul class="social">
								<li><a href="http://facebook.com/">Facebook</a></li>
								<li><a href="http://twitter.com/">Twitter</a></li>
								<li><a href="http://plus.google.com/">Google+</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- /.container -->
	</div>
</div>
<!-- Bootstrap core JavaScript
        ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="js/libs/jquery.min.js"></script> -->

